@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
  background-color: rgb(226 232 240);
}
.card:hover {
  opacity: 70%;
}

.project-list {
  width: 100%;
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(5, auto);
  justify-content: left;
  /* gap: 8px; */
  /* grid-auto-rows: minmax(100px, auto); */
  row-gap: 30px;
}

@media screen and (min-width: 1200px) and (max-width: 1499px) {
  .project-list {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .project-list {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .project-list {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 599px) {
  .project-list {
    grid-template-columns: repeat(1, auto);
  }
}

.project-list > li {
  margin-right: 2rem;
}
